.question-1,
.question-2,
.question-3 {
    width: 120px;
    height: 60px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.not-active {
    background: lightgray;
}

.is-active {
    background: orange;
}

.option-1,
.option-2,
.option-3 {
    width: 120px;
    height: 60px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px black;
}

.correct {
    background: green;
}

.wrong{
    background: red;
}